version: "3.8"

services:
  jaeger:
    image: jaegertracing/all-in-one:1.53
    container_name: tiktrend-jaeger
    restart: unless-stopped
    ports:
      - "16686:16686" # UI
      - "14268:14268" # Collector HTTP
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - tiktrend-network

  prometheus:
    image: prom/prometheus:v2.49.1
    container_name: tiktrend-prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - tiktrend-network

  grafana:
    image: grafana/grafana:10.2.3
    container_name: tiktrend-grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - tiktrend-network
